<article class="post-card {{post_class}} {{#has number="nth:3"}}post-card-large{{/has}}" {{#if feature_image}}style="background-image: url({{img_url feature_image}})"{{/if}}>
    <a class="post-card-link" href="{{url}}">
        <div class="post-card-content">
            <h2 class="post-card-title">{{title}}</h2>
        </div>
    </a>
</article>
