{{!< default}}

{{#post}}
<article class="post-content {{post_class}}">

    <header class="post-content-header">
        <h1 class="post-content-title">{{title}}</h1>
    </header>

    {{> "feature-image"}}

    <div class="post-content-body gh-content">
        {{content}}
    </div>

</article>
{{/post}}
