{{!< default}}

{{#post}}
<article class="post-content {{post_class}}">

    <header class="post-content-header gh-canvas">
        <h1 class="post-content-title">{{title}}</h1>
        {{> "feature-image"}}
    </header>


    <div class="post-content-body gh-content gh-canvas">
        {{content}}
    </div>

</article>
{{/post}}
