{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
<div class="resources-page">
    <div>
        <p class="tags-title">Show me...</p>
        <ul class="resources-page-tags">
            {{#get 'tags' limit='all'}}
            {{#foreach tags}}
            <li class="resources-page-tag">
                <a href='{{ url }}'>
                    <img class="resources-tag-icon" src="{{feature_image}}" />
                    {{name}}
                </a>
            </li>
            {{/foreach}}
            {{/get}}
        </ul>
    </div>

    <div class="resources-page-resources">
        <div class="post-feed">
            {{#foreach posts}}

            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}

            {{/foreach}}
        </div>
    </div>
</div>