{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#tag}}
<header class="page-head">
    <h1 class="page-head-title">{{name}}</h1>
    <p class="page-head-description">
        {{#if description}}
            {{description}}
        {{else}}
            {{plural ../pagination.total 
                empty=(t "A collection of 0 posts") singular=(t "A collection of 1 post") 
                plural=(t "A collection of {numberOfPosts} posts" numberOfPosts=../pagination.total) }}
        {{/if}}
    </p>
</header>
{{/tag}}

<div class="post-feed gh-feed">
    {{#foreach posts}}
        {{> "post-card"}}
    {{/foreach}}
</div>
