/*

This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.css using gulp dev

*/


/* Lib - Local component imports
/* ---------------------------------------------------------- */
@import "vars.css";
@import "components/global.css";
@import "components/ghost.css";
@import "components/lists.css";
@import "components/grid.css";
@import "components/tables.css";
@import "components/forms.css";
@import "components/buttons.css";
@import "components/actions.css";
@import "components/animations.css";


/* Vendor - External imports
/* ---------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,600,700,700i,800');


/* Main - Theme styles
/* ---------------------------------------------------------- */

body {
    font-family: 'Muli', sans-serif;
    background: var(--whitegrey);
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
}

.hidden {
    visibility: hidden;
    position: absolute;
    text-indent: -9999px;
}


/* Layout
/* ---------------------------------------------------------- */

.site-wrapper {
    padding: 3vw;
    min-height: 100vh;
}
@media (max-width: 850px) {
    .site-wrapper {
        padding: 6vw;
    }
}

.page-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13vw 0;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}

.page-head-title {
    margin: 0;
    font-size: 4.2rem;
    color: var(--darkgrey);
}
@media (max-width: 500px) {
    .page-head-title {
        font-size: 2rem;
    }
}

.page-head-description {
    margin: 0 0 1.6vw;
    color: var(--midgrey);
    font-size: 2.2rem;
    line-height: 1.35em;
}
@media (max-width: 500px) {
    .page-head-description {
        font-size: 1.6rem;
    }
}

.site-foot {
    margin: 3vw 0 1vw;
    text-align: center;
    color: var(--midgrey);
    font-size: 1.4rem;
}

.site-foot a {
    color: var(--darkgrey);
}


/* Site Navigation
/* ---------------------------------------------------------- */

.site-head {
    position: relative;
    z-index: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    font-size: 1.35rem;
}

.site-head-left {
    display: flex;
    align-items: center;
    margin-right: 10px;
    white-space: nowrap;
}

.nav {
    display: flex;
    margin: 0 0 0 -12px;
    padding: 0;
    list-style: none;
}

.site-head li {
    display: block;
    margin: 0;
    padding: 0;
}

.site-head-left a,
.site-head-right a {
    display: block;
    margin: 0;
    padding: 10px 12px;
    color: var(--darkgrey);
    font-weight: 600;
    opacity: 0.4;
}

.nav-current a,
.site-head a:hover {
    text-decoration: none;
    opacity: 1;
}

.site-head-center {
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    width: 100%;
}

.site-head-logo {
    flex-shrink: 0;
    display: block;
    padding: 10px;
    color: var(--darkgrey);
    font-size: 2.1rem;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.site-head-logo:hover {
    text-decoration: none;
}

.site-head-logo img {
    display: block;
    margin-top: 2px;
    width: auto;
    height: 28px;
}

.site-head-right {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.social-links {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.subscribe-button {
    display: block;
    padding: 4px 10px;
    border: var(--darkgrey) 1px solid;
    color: var(--darkgrey);
    font-size: 1.2rem;
    line-height: 1em;
    border-radius: 10px;
    opacity: 0.8;
}

.subscribe-button:hover {
    text-decoration: none;
    opacity: 1;
}

.rss-button {
    opacity: 0.4;
}

.rss-button:hover {
    opacity: 1;
}

.rss-button svg {
    margin-bottom: 1px;
    height: 2.1rem;
    fill: var(--darkgrey);
}

@media (max-width: 700px) {
    .site-header {
        padding-right: 0;
        padding-left: 0;
    }
    .site-head-left {
        margin-right: 0;
        padding-left: 4vw;
    }
    .site-head-right {
        display: none;
    }
}

/* Post Feed
/* ---------------------------------------------------------- */

.post-feed {
    display: flex;
    align-items: ;
    flex-wrap: wrap;
}

.post-card {
    flex: 1 1 50%;
    display: flex;
    position: relative;
    height: 35vw;
    background: #222 center center;
    background-size: cover;
}

@media (max-width: 700px) {
    .post-card {
        flex: 1 1 100%;
        height: 70vw;
    }
}

.post-card-large {
    flex: 1 1 100%;
}

.post-card-link {
    flex: 1 1 auto;
    display: block;
}

.post-card-content {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    background: rgba(0,0,0,0.1);
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(.33,0,.2,1);
}

.post-card-link:hover .post-card-content {
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(.33,0,.2,1);
}

.post-card-title {
    margin: 0;
    display: inline-block;
    font-size: 3.2rem;
    max-width: 70%;
    text-align: center;
}

/* Post Content
/* ---------------------------------------------------------- */

.post-content {
    max-width: 720px;
    margin: 0 auto;
    padding: 6vw 0;
}

.post-content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-content-title {
    margin: 0 0 3vw;
    color: var(--darkgrey);
    text-align: center;
}

.post-content-excerpt {
    margin: -2vw 0 3vw;
    font-size: 2.2rem;
    line-height: 1.6em;
    color: var(--grey);
    text-align: center;
}
@media (max-width: 500px) {
    .post-content-excerpt {
        font-size: 1.8rem;
    }
}

.post-content-image {
    margin: 4vw 0;
    position: relative;
    width: 75vw;
    min-width: 100%;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    transform: translateX(calc(50vw - 50%));
}

.post-content-body {
    font-size: 1.9rem;
    line-height: 1.65em;
}
@media (max-width: 500px) {
    .post-content-body {
        font-size: 1.7rem;
    }
}

.post-content-body h1,
.post-content-body h2,
.post-content-body h3,
.post-content-body h4,
.post-content-body h5,
.post-content-body h6 {
    color: var(--darkgrey);
}

.post-content-body li {
    word-break: break-word;
}

.post-content-body li p {
    margin: 0;
}

.post-content-body iframe {
    margin: 0 auto !important;
}

.post-content-body blockquote {
    margin: 0 0 1.5em;
    padding: 0 1.5em;
    border-left: #3eb0ef 3px solid;
}

.post-content-body blockquote p {
    margin: 0 0 1em 0;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-style: italic;
}

.post-content-body blockquote p:last-child {
    margin-bottom: 0;
}

.post-content-body code {
    padding: 0 5px 2px;
    font-size: 0.8em;
    line-height: 1em;
    font-weight: 400!important;
    background: var(--whitegrey);
    border-radius: 3px;
}

.post-content-body p code {
    word-break: break-all;
}

.post-content-body pre {
    overflow-x: auto;
    margin: 1.5em 0 3em;
    padding: 20px;
    max-width: 100%;
    border: color(var(--darkgrey) l(-10%)) 1px solid;
    color: var(--whitegrey);
    font-size: 1.4rem;
    line-height: 1.5em;
    background: color(var(--darkgrey) l(-3%));
    border-radius: 5px;
}

.post-content-body pre code {
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    background: transparent;
}

.post-content-body pre code :not(span) {
    color: inherit;
}

.post-content-body .fluid-width-video-wrapper {
    margin: 1.5em 0 3em;
}

.post-content-body hr {
    margin: 4vw 0;
}

.post-content-body hr:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    display: block;
    margin-left: -10px;
    width: 1px;
    height: 30px;
    background: color(var(--lightgrey) l(+10%));
    box-shadow: #fff 0 0 0 5px;
    transform: rotate(45deg);
}

.footnotes-sep {
    margin-bottom: 30px;
}

.footnotes {
    font-size: 1.5rem;
}

.footnotes p {
    margin: 0;
}

.footnote-backref {
    color: var(--blue) !important;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none !important;
    box-shadow: none !important;
}

/* Author Archive
/* ---------------------------------------------------------- */

.author-meta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: var(--midgrey);
}

.author-links {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.author-links a {
    display: block;
    margin: 0;
    padding: 0 12px;
    color: var(--darkgrey);
    opacity: 0.4;
}

.author-links a:hover {
    text-decoration: none;
    opacity: 1;
}

.author-links .divider {
    display: inline-block;
    margin: 0 3px;
}

/* Page Template
/* ---------------------------------------------------------- */

.page-template .post-content-body h1,
.page-template .post-content-body h2,
.page-template .post-content-body h3 {
    text-align: center;
}
