@font-face {
    font-family: 'Tiempos Headline';
    font-weight: 600;
    font-style: normal;

    src: url('../fonts/tiempos-headline/tiempos-headline-web-semibold.woff2') format('woff2'),
        url('../fonts/tiempos-headline/tiempos-headline-web-semibold.woff') format('woff');
}

@font-face {
    font-family: 'Tiempos Text';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/tiempos-text/tiempos-text-web-regular.woff2') format('woff2'),
        url('../fonts/tiempos-text/tiempos-text-web-regular.woff') format('woff');
}

@font-face {
    font-family: 'Tiempos Text';
    font-weight: 400;
    font-style: italic;

    src: url('../fonts/tiempos-text/tiempos-text-web-regular-italic.woff2') format('woff2'),
        url('../fonts/tiempos-text/tiempos-text-web-regular-italic.woff') format('woff');
}

@font-face {
    font-family: 'Tiempos Text';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/tiempos-text/tiempos-text-web-bold.woff2') format('woff2'),
        url('../fonts/tiempos-text/tiempos-text-web-bold.woff') format('woff');
}

@font-face {
    font-family: 'Tiempos Text';
    font-weight: 700;
    font-style: italic;

    src: url('../fonts/tiempos-text/tiempos-text-web-bold-italic.woff2') format('woff2'),
        url('../fonts/tiempos-text/tiempos-text-web-bold-italic.woff') format('woff');
}

/* Prevent Fake-Bold CSS */

@font-face {
    font-family: 'Tiempos Text';
    font-weight: 500;
    font-style: normal;

    src: url('../fonts/tiempos-text/tiempos-text-web-bold.woff2') format('woff2'),
        url('../fonts/tiempos-text/tiempos-text-web-bold.woff') format('woff');
}

@font-face {
    font-family: 'Tiempos Text';
    font-weight: 500;
    font-style: italic;

    src: url('../fonts/tiempos-text/tiempos-text-web-bold-italic.woff2') format('woff2'),
        url('../fonts/tiempos-text/tiempos-text-web-bold-italic.woff') format('woff');
}

@font-face {
    font-family: 'Tiempos Text';
    font-weight: 600;
    font-style: normal;

    src: url('../fonts/tiempos-text/tiempos-text-web-bold.woff2') format('woff2'),
        url('../fonts/tiempos-text/tiempos-text-web-bold.woff') format('woff');
}

@font-face {
    font-family: 'Tiempos Text';
    font-weight: 600;
    font-style: italic;

    src: url('../fonts/tiempos-text/tiempos-text-web-bold-italic.woff2') format('woff2'),
        url('../fonts/tiempos-text/tiempos-text-web-bold-italic.woff') format('woff');
}
