/* Styling for Ghost-specific elements
/* ---------------------------------------------------------- */

.kg-card.kg-toggle-card .kg-toggle-heading-text {
    font-size: 1.8rem;
    font-weight: 700;
}

.kg-toggle-card-icon {
    padding: 0;
    box-shadow: none;
}

.has-serif-title .kg-toggle-card .kg-toggle-heading-text {
    font-family: var(--font-serif);
}

.kg-callout-card-accent a {
    text-decoration: underline;
}

blockquote.kg-blockquote-alt {
    font-style: normal;
    font-weight: 700;
}

.kg-card.kg-button-card .kg-btn {
    font-size: 1.05em;
}

.kg-card.kg-audio-card button,
.kg-card.kg-video-card button {
    color: inherit !important;
    box-shadow: none;
}

.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

.kg-image {
    margin-right: auto;
    margin-left: auto;
}

figcaption {
    padding: 1.5rem;
    font-size: 1.3rem;
    line-height: 1.4em;
    font-weight: 600;
    color: var(--color-base);
    text-align: center;
    opacity: 0.4;
}

.kg-width-wide {
    position: relative;
    width: 75vw;
    min-width: 100%;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    transform: translateX(calc(50vw - 50%));
}

.kg-width-full {
    position: relative;
    width: 94vw;
    min-width: 100%;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    transform: translateX(calc(50vw - 50%));
}

.kg-width-full figcaption {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}

@media (max-width: 800px) {
    .kg-width-full {
        width: 100vw;
    }
    .kg-width-full figcaption {
        padding-left: 6vw;
    }
}
